@model IEnumerable<SportsStore.WebUI.Models.RoleAndUser>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayAllUsersRoles</title>
</head>
<body>
    <div>
        @foreach (var item in Model)
        {
            @item.UserName
            @item.RoleName
        }
    </div>
</body>
</html>
