@model IEnumerable<SportsStore.Domain.Entities.Role>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @foreach (var item in Model)
        {
            @item.RoleId; @item.RoleName
        }
    </div>
</body>
</html>
